@import '/@/styles/variables.scss';
@import '/@/styles/mixins.scss';

.head-summary {
  display: flex;
  margin-top: -100px;
  margin-bottom: 5em;
  border-radius: 1rem;

  img {
    max-height: 300px;
    border-radius: .5rem;
    box-shadow: 0 0 10px 1px rgb(0 0 0/48%)!important;
  }

  aside {
    margin: 0 2em;

    h1 {
      font-size: 2em;
      font-weight: 600;
      margin-bottom: .25em;
    }

    p {  
      font-size: 14px;
      line-height: 1.5;

      b {
        color: white;
      }
    }

    .rating {
      margin-left: -3px;
      margin-bottom: 2em;

      span {
        color: #d6d6d6;
        font-size: 1.3em;
        margin: 0 .7em;
        font-weight: 600;
      }

      i {
        color: $color-primary;
        font-weight: 500;
        margin: 0;
        font-size: 1.5em;

        &.mdi-star-outline {
          color: #fff;
          opacity: .4;

        }
      }
    }
  }
}