@import url("https://fonts.googleapis.com/css?family=Anaheim|Quattrocento+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,400,600");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import './variables.scss';

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  overflow: visible;
  background: transparent;
}

::-webkit-scrollbar-track {
  border: solid;
  border-width: 0 0 0 0px;
  border-color: rgba(0, 0, 0, 0.0);
}

::-webkit-scrollbar-track:horizontal {
  border-width: 1px 0 0;
}

::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0.0);
  border-color: rgba(0, 0, 0, 0.0);
}

::-webkit-scrollbar-track:active {
  background-color: rgba(0, 0, 0, 0.0);
  border-color: #2C2C2C;
}

::-webkit-scrollbar-thumb {
  border: solid transparent;
  background-color: #4F9ED3;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3F96CF;
}

::-webkit-scrollbar-thumb:active {
  background-color: #338ECC;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: transparent;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

body {
  background-color: $bg-primary;
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #9099A4;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "Quattrocento Sans", sans-serif;
  color: #ececec;
}

p {
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #ececec;
}

.container {
  padding: 0 10%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1400px;
}

@media (min-width:768px) {
  .container {
    padding: 0 4%;
  }
}

@media (min-width:1200px) {
  .container {
    padding: 0 13.5%;
  }
}

.heading_title {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;

  h1 {
    font-size: 18px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    text-transform: capitalize;

    &:after {
      width: 80%;
      height: 3px;
      content: "";
      position: absolute !important;
      bottom: 0;
      left: 0%;
      text-align: center;
      z-index: 0;
      background: $color-primary
    }
  }
}

// Button
.btn {
  font-family: poppins,sans-serif;
  font-weight: 700;
  padding: 12px 17px;
  color: #FFF;
  text-transform: uppercase;
  font-size: .85rem;
  border-radius: .25rem;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.btn_primary {
  color: #FFF;
  background-color: #4B76AD;

  &:hover {
    color: #FFF;
    background-color: #446C9D;
  }

  &:focus {
    color: #FFF;
    -webkit-box-shadow: 0 0 0 .2rem rgba(75, 118, 173, 0.5);
    box-shadow: 0 0 0 .2rem rgba(75, 118, 173, 0.5);
  }

  &:disabled {
    color: color-yiq(#4B76AD);
    background-color: #4B76AD;
  }
}